<p>editproduct works!</p>
<form [formGroup]="myForm" (ngSubmit)="formSubmit()">
    <div class="form-group mb-3">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <!--Error-->
        <div *ngIf="myinputs['name'].invalid && (myinputs['name'].touched || myinputs['name'].dirty)"
            class="alert alert-danger">
            <div *ngIf="myinputs['name'].errors?.['required']">Name is require</div>
            <!-- <div *ngIf="myinputs['name'].errors?.['pattern']">Only Apphabet Allow is require</div> -->
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputEmail1">Price</label>
        <input type="number" class="form-control" formControlName="price" />
        <!--Error-->
        <div *ngIf="myinputs['price'].invalid && (myinputs['price'].touched || myinputs['price'].dirty)"
            class="alert alert-danger">
            <div *ngIf="myinputs['price'].errors?.['required']">Price is require</div>
        </div>
    </div>
    <div class="form-group mb-3">
        <label for="exampleInputEmail1">Quantity</label>
        <input type="number" class="form-control" formControlName="quantity" />
        <!--Error-->
        <div *ngIf="myinputs['quantity'].invalid && (myinputs['quantity'].touched || myinputs['quantity'].dirty)"
            class="alert alert-danger">
            <div *ngIf="myinputs['quantity'].errors?.['required']">Quantity is require</div>
        </div>
    </div>
    
    <button type="submit" value="submit" class="btn btn-success" [disabled]="myForm.invalid">Submit</button>
</form>